@import url(https://fonts.googleapis.com/css?family=Roboto);

.categories {margin: 25px 0px 25px 0px;height: 500px}

.fond_titre_cv {background-color: #008080;
				margin-bottom: 30px;
				height: 1%;
				display: flex;
				align-items:center;
				flex-direction: column;
				justify-content: center;
}

.accroche {
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	max-width: 80%;
}

#titre_cv {
	font-size: 1.8em;
	color: white;
	background-color: #008080;
	margin-bottom: 20px
	padding: 0px;
}

.titre_h1 {
	padding:4px;
	margin: 0px !important;
	background-color: #008080;
	font-size: 1.4em !important;
	color: white;
}

.titre_h4 {
	background-color: #F4661B;
	font-size: 1em;
	color: white;
	margin: 0px;
	margin-bottom: 8px;
	padding: 5px;
}

h2 {
	padding: auto !important;
	margin: 0px !important;
}

/* CSS article */

	.container_article {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #97DFC6;
		height: 450px;
	}

	.container_article:hover {
		background-color: white;
		transition-duration: 2s;
	}

	.scroolbar {
		overflow-y: scroll;
	}


/* CSS de identité */

		#prenom {
			width: 50%;
			font-size: 4em;
			color: white;
			background-color: #008080;
			transform: rotate(0.3deg);
		}

		#nom {
			font-size: 4em;
			width: 60%;
			color: white;
			background-color: #F4661B;
			transform: rotate(-0.3deg);
		}

		#naissance {
			font-size: 1.5em;
			width: 50%;
			background-color: #008080;
			color: white;
		}

		#site {
			font-size: 2em;
			width: 63%;
			color: white;
			background-color: #F4661B;
			transform: rotate(-0.3deg);
		}

/*CSS de formation */

	#formation {
		color:white;
		font-size: 1.4em;
		background-color: white;
		color: #008080;
		width: 75%;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 0px;
	}

	#date {
		font-size: 1em;
		width: 50%;
		background-color: #F4661B;
		color: white;
		transform: rotate(0.5deg);
		text-align: center;
		margin: 0px;
	}

	#ecole {
		font-size: 1.2em;
		width: 60%;
		background-color: #008080;
		color: white;
		text-align: center;
	}


/*CSS de experience*/

		#intitule {
			width: 75%;
			font-size: 1.4em;
			color: white;
			background-color: #F4661B;
			margin:50px 0px 0px 0px;
		}

		#datedebut {
			font-size: 1em;
			width: 50%;
			background-color: #008080;
			color: white;
			margin:0px;

		}
		
		#datefin {
			font-size: 1em;
			width: 55%;
			background-color: #008080;
			color: white;
			margin:0px;
		}
		
		#lieux {
			width: 75%;
			color: white;
			font-size: 1.2em;
			background-color: #F4661B;
		}

		#descriptif {
			padding: 5px;
			width: 90%;
			font-size: 1em;
			background-color: white;
			white-space: pre;
			color: #008080;
		}


/*CSS de competence*/

		.competences {
			width: 230px;
			font-size: 1.2em;
			color: white;
			background-color: #008080;
		}

		.competences_orange {
			width: 300px;
			height: 35px;
			margin-top: 15PX;
			padding-top: 6px;
			padding-bottom: 10px;
			text-align: center;
			font-size: 18px;
			color: white;
			background-color: #008080;
			transform: rotate(0.5deg);
		}


/*CSS de custom */

		#autre {
			width: 75%;
			text-align: center;
			font-size: 18px;
			color: white;
			background-color: #008080;
		}


/*CSS contact */

		#adresse {
			width: 65%;
			font-size: 1.5em;
			color: white;
			background-color: #F4661B;
			white-space: pre;
			margin: 0px;
		}

		#tel {
			width: 60%;
			font-size: 1.4em;
			background-color: #008080;
			transform: rotate(0.5deg);
			color: white;
			margin: 0px;
		}

		#mail {
			width: 85%;
			font-size: 1.5em;
			color: white;
			background-color:#F4661B;
			transform: rotate(0.5deg);
			margin: 0px;
		}


/* Css des scrolls bar */

::-webkit-scrollbar {
   width: 5px;
}
::-webkit-scrollbar-track {
   background-color: #c6c6c6
;
}
::-webkit-scrollbar-thumb {
   background-color: #6bbeaa
;
}
::-webkit-scrollbar-thumb:hover {
   background-color: #54a292
;
}