@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	box-sizing: border-box;
}
page {
	height: 100%;
	width: 100%;
}


article {
	background-color: #CCBC00;
	display: block;
	float: left;
	width: 33.33%;
	height: 100%;
}



/* CSS de identité */

	identite {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #97DFC6;
		width: 100%;
		height: 100%;
		border:5px solid #FF4500;
	}

	identite:hover {
		background-color: #811453;
	}

		prenom {
			width: 120px;
			text-align: center;
			font-size: 60px;
			color: white;
			background-color: #CCBC00;
			transform: rotate(0deg);
		}

		nom {
			font-size: 60px;
			text-align: center;
			width: 230px;
			color: white;
			background-color: #FF4500;
			transform: rotate(2deg);
		}

		naissance {
			font-size: 30px;
			text-align: center;
			width: 210px;
			background-color: #CCBC00;
			transform: rotate(-2deg);
		}

		site {
			padding-top: 5px;
			font-size: 40px;
			text-align: center;
			height: 60px;
			width: 250px;
			color: white;
			background-color: #FF4500;
			transform: rotate(0deg);
		}

/*CSS de formation */

	formation {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #2D241E;
		text-align: center;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid #FF4500;
		overflow-y: scroll;
	}

	formation:hover {
		background-color: #811453;
	}

	formation > intitule {
		color:black;
		font-size: 20px;
		transform: rotate(0deg);
		background-color: #2D241E;
		color: white;
		height: 30px;
		width: 330px;
		margin-top: 40px;
		transform: rotate(0deg);
		border-bottom: 1px solid white;
	}

	date {
		font-size: 16px;
		width: 250px;
		height: 20px;
		background-color: #FF4500;
		color: white;
		padding-top: 1px;
		margin-top: 8px;
	}

	ecole {
		font-size: 20px;
		width: 200px;
		height: 30px;
		margin-top: 3px;
		background-color: #CCBC00;
		color: black;
	}


/*CSS de competence*/

	competence {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #2D241E;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		border:5px solid #FF4500;
	}

	competence:hover {
		background-color: #811453;
	}

		random {
			width: 400px;
			height: 45px;
			margin-top: 8PX;
			padding-top: 10px;
			text-align: center;
			font-size: 22px;
			color: white;
			background-color: #FF4500;
		}


/*CSS de custom */

	custom {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #97DFC6;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		border:5px solid #FF4500;
		overflow-y: scroll;
	}

	custom:hover {
		background-color: #811453;
	}

		autre {
			width: 300px;
			height: 50px;
			margin-top: 20px;
			padding-top: 10px;
			text-align: center;
			font-size: 23px;
			color: white;
			background-color: #FF4500;
			transform: rotate(0.5deg);
		}

/*CSS de experience*/

	experience {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: #97DFC6;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		border: 5px solid #FF4500;
		overflow-y: scroll;
	}

	experience:hover {
		background-color: #811453;
	}

		intitule {
			width: 250px;
			height: 35px;
			margin-top: 50px;
			text-align: center;
			font-size: 30px;
			color: white;
			background-color: #CCBC00;
		}

		datedebut {
			font-size: 15px;
			height: 18px;
			text-align: center;
			width: 230px;
			background-color: #FF4500;
			color: white;
			transform: rotate(0.5deg);
		}
		
		datefin {
			font-size: 15px;
			height: 18px;
			text-align: center;
			width: 230px;
			background-color: #FF4500;
			color: white;
			transform: rotate(0.5deg);
		}
		
		lieux {
			width: 300px;
			height: 24px;
			padding-top: 1px;
			text-align: center;
			font-size: 18px;
			background-color: #CCBC00;
		}

		descriptif {
			width: 350px;
			height: 100px;
			padding-top: 15px;
			padding-bottom: 15px;
			text-align: center;
			font-size: 16px;
			background-color: white;
			transform: rotate(-0.5deg);
			white-space: pre;
		}


/*CSS contact */

	contact {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #2D241E;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
		border:5px solid #FF4500;
	}

	contact:hover {
		background-color: #811453;
	}

		adresse {
			width: 250px;
			height: 90px;
			padding-top: 10px;
			text-align: center;
			font-size: 30px;
			color: white;
			background-color: #FF4500;
			transform: rotate(-2deg);
		}

		tel {
			width: 230px;
			height: 40px;
			padding-top: 2px;
			text-align: center;
			font-size: 30px;
			background-color:white;
			transform: rotate(1deg);

		}

		mail {
			width: 400px;
			height: 40px;
			padding-top: 2px;
			text-align: center;
			font-size: 30px;
			color: white;
			background-color:#FF4500;
			transform: rotate(1deg);
		}


/* Css des scrolls bar */

	::-webkit-scrollbar {
	   width: 12px;
	}
	::-webkit-scrollbar-track {
	   background-color: #eaeaea
	;
	   border-left: 1px solid #ccc;
	}
	::-webkit-scrollbar-thumb {
	   background-color: #ccc;
	}
	::-webkit-scrollbar-thumb:hover {
	   background-color: #aaa;
	}