@import url(https://fonts.googleapis.com/css?family=Roboto);

*{
	box-sizing: border-box;
}
page {
	height: 100%;
	width: 100%;
}


article {
	background-color: #F8F8FF;
	display: block;
	float: left;
	width: 33.33%;
	height: 100%;
}

/* CSS de identité */

	identite {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		width: 100%;
		height: 100%;
	}

	identite:hover {
		background-color: #97DFC6;
	}

		prenom {
			width: 120px;
			text-align: center;
			font-size: 60px;
			color: white;
			background-color: #CCBC00;
			transform: rotate(-3deg);
		}

		nom {
			font-size: 60px;
			text-align: center;
			width: 230px;
			color: white;
			background-color: #FF0055;
			transform: rotate(2deg);
		}

		naissance {
			font-size: 30px;
			text-align: center;
			width: 210px;
			background-color: #CCBC00;
			transform: rotate(-2deg);
		}

		site {
			padding-top: 5px;
			font-size: 40px;
			text-align: center;
			height: 60px;
			width: 250px;
			color: white;
			background-color: #FF0055;
			transform: rotate(0deg);
		}

/*CSS de formation */

	formation {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #2D241E;
		text-align: center;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	formation:hover {
		background-color: black;
		opacity: 0.8;
	}

	formation > intitule {
		color:black;
		font-size: 25px;
		transform: rotate(0deg);
		background-color: white;
		height: 40px;
		width: 400px;
		padding-top: 5px;
		margin-top: 15px;
		transform: rotate(0.5deg);
	}

	date {
		font-size: 18px;
		width: 250px;
		height: 25px;
		background-color: #FF0055;
		color: white;
		padding-top: 1px;
	}

	ecole {
		font-size: 20px;
		width: 200px;
		height: 30px;
		margin-top: 2px;
		background-color: #CCBC00;
		transform: rotate(-0.5deg);
		color: black;
	}


/*CSS de competence*/

	competence {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #2D241E;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	competence:hover {
		background-color: black;
		opacity: 0.8;
	}

		random {
			width: 400px;
			height: 45px;
			margin-top: 8PX;
			padding-top: 10px;
			text-align: center;
			font-size: 22px;
			color: white;
			background-color: #FF0055;
		}


/*CSS de custom */

	custom {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: white;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	custom:hover {
		background-color: #97DFC6;
	}

		autre {
			width: 400px;
			height: 45px;
			margin-top: 8px;
			padding-top: 10px;
			text-align: center;
			font-size: 22px;
			background-color: #CCBC00;
		}

/*CSS de experience*/

	experience {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: white;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	experience:hover {
		background-color: #97DFC6;
	}

		intitule {
			width: 250px;
			height: 50px;
			padding-top: 1px;
			text-align: center;
			font-size: 40px;
			color: white;
			background-color: #CCBC00;
			transform: rotate(-2deg);
		}

		datedebut {
			font-size: 20px;
			text-align: center;
			width: 230px;
			background-color: #FF0055;
			color: white;
			transform: rotate(1deg);
		}
		
		datefin {
			font-size: 20px;
			text-align: center;
			width: 230px;
			background-color: #FF0055;
			color: white;
			transform: rotate(-1deg);
		}
		
		lieux {
			width: 300px;
			height: 25px;
			padding-top: 1px;
			text-align: center;
			font-size: 20px;
			background-color: #CCBC00;
			transform: rotate(1deg);
		}

		descriptif {
			width: 350px;
			height: 130px;
			padding-top: 7px;
			margin-top: 5px;
			text-align: center;
			font-size: 16px;
			background-color: white;
		}


/*CSS contact */

	contact {
		font-family: "Roboto";
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #2D241E;
		width: 100%;
		height: 100%;
		margin-left: auto;
		margin-right: auto;
	}

	contact:hover {
		background-color: black;
		opacity: 0.8;
	}

		adresse {
			width: 250px;
			height: 90px;
			padding-top: 10px;
			text-align: center;
			font-size: 30px;
			color: white;
			background-color: #FF0055;
			transform: rotate(-2deg);
		}

		tel {
			width: 230px;
			height: 40px;
			padding-top: 2px;
			text-align: center;
			font-size: 30px;
			background-color:white;
			transform: rotate(1deg);

		}

		mail {
			width: 400px;
			height: 40px;
			padding-top: 2px;
			text-align: center;
			font-size: 30px;
			color: white;
			background-color:#FF0055;
			transform: rotate(1deg);
		}